In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.mllib.stat import Statistics
import csv
import numpy as np
from ggplot import *

# conf = SparkConf().setAppName('ListnerSummarizer')
# sc = SparkContext(conf=conf)

In [2]:
trackfilepath = "/Users/sam/All-Program/App-DataSet/Spark-Operations/input1.txt"

# trackfile = sc.texFile(trackfilepath)

def parseLine(line):
    infoArray = line.split(",")       # Split the line into tokens
#     print (bits)
    print ([e for e in infoArray])
    return np.array([float(e) for e in infoArray[4:12]])
    
    
df = sc.textFile(trackfilepath).map(parseLine)
print (df)

# Run the Map Task to find the summary statistics
stats = df.map(lambda e: e[0])
print (stats)
# print (df.head)
# a = .join()

NameError: name 'sc' is not defined

In [3]:
del sc

In [1]:
# Rough:

In [ ]:
from pyspark import SparkContext#, SparkConf
from pyspark.sql import SQLContext
import csv
import numpy as np
# from pyspark.mllib.stat import Statistics
# import csv
# import numpy as np
# from ggplot import *

directory = "/Users/sam/All-Program/App-DataSet/Spark-Operations/test138026.txt"
trackfilepath = "/Users/sam/All-Program/App-DataSet/Spark-Operations/input.csv"

In [ ]:
dataRDD = sc.textFile(trackfilepath)
dataRDD = dataRDD.mapPartitions(lambda x: csv.reader(x))
dataDF = sqlContext.read.load(trackfilepath, 
                          format='com.databricks.spark.csv', 
                          header='true', 
                          inferSchema='true')

schema = dataDF.schema            
            

# schema1 = dataDF1.schema
print (dataRDD.take(3))
# print ('')
print (dataDF.show())
print('')
print (schema)
print ('')


from pyspark.sql.functions import udf
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
def scoreToCategory(value):
    if value == 'Joe': return 'Joewa'
    else: return np.NaN

udfScoreToCategory=udf(scoreToCategory, StringType())
dataDF.withColumn("Name", udfScoreToCategory("Name")).show(10)

In [ ]:
def splitWords(line):
    return line.split(",")

def createPair(words):
    return (words, 1)

def wordCount(cnt1,cnt2):
    return cnt1+cnt2

def records_wth_joy(word):
    if word == "Joy":
        return word
    #     print (word)

    
ex1RDD = sc.textFile(directory)

print (ex1RDD.take(5))


# Operation Map
wordToken = ex1RDD.flatMap(splitWords)
wordPair = wordToken.map(createPair)
print ('WordToken operation :', wordToken.take(1))
print ('')
print ('WordCountPair operation :', wordPair.take(1))
print ('')

# Operation Reduce
reduceRDD = wordPair.reduceByKey(wordCount)
# See the Output
print ('Reduce by operation :', reduceRDD.collect())
print ('')

# Operation Filter
filtRDD = wordToken.filter(records_wth_joy)
print ('Filter by operation :', filtRDD.collect())
print ('')

# Operation Coelesce: Some times a filter may result in RDD partitions of different size, Hence we coelesce to make partitin of similar size
partitionRDD = filtRDD.coalesce(2).glom()
print ('Coelesce operation :', partitionRDD.collect())  # This will partition the data in two uniform parts.
print ('')

# GroupBY Operation
groupbyRDD = wordPair.groupByKey()
# print ('Group by key : ', groupbyRDD.collect())   # This will print the RDD object
for key,value in groupbyRDD.collect():
    print (key,list(value))

In [ ]:
def splitLines(lines):
    val = lines.split(',')
    return val

def thirdWordInt(value):
    value[2] = int(value[2])
    return value

def keyValueList(splitList):
#     key = spitList[0]
#     value = (splitList[1])
    return (splitList[0], tuple(splitList))
    
    
# Question 1
print ('Question 1')
print (ex1RDD.take(5))
print ('')
# print (testData.take(5))

# Question 2:
print ('Question 2')
ex2RDD = ex1RDD.flatMap(lambda line: line.split(" ")).map(lambda sep: sep.split(','))
# ex2RDD1 = ex2RDD.reduceByKey(lambda out: out)
# OR
ex2RDD_al = ex1RDD.flatMap(lambda line: line.split(" ")).map(splitLines)
print (ex2RDD.take(5))
print ('')
print (ex2RDD_al.take(5))
print ('')
# print (ex2RDD1.collect(10))


# Question 3:
print ('Question 3')
ex3RDD = ex2RDD.map(lambda cnvrt: [cnvrt[0], cnvrt[1], int(cnvrt[2]), cnvrt[3], cnvrt[4]])
# OR
ex3RDD_al = ex2RDD.map(thirdWordInt)
print (ex3RDD.take(5))
print ('')
print (ex3RDD_al.take(5))
print ('')


# Question 4
print ('Question 4')
ex4RDD = ex3RDD.filter(lambda cond: cond[2]<25)
ex4RDD_al = ex3RDD.map(lambda cond: cond if cond[2]<25 else None)
print (ex4RDD.take(5))
print ('')
print (ex4RDD_al.take(5))
print ('')


# Question 5
print ('Question 5')
ex5RDD = ex4RDD.map(lambda a: (a[0],tuple(a)))
ex5RDD_al = ex4RDD.map(keyValueList)
print (ex5RDD.take(5))
print ('')
print (ex5RDD_al.take(5))
print ('')

# Question 6
print ('Question 6')
ex6RDD = ex5RDD.sortByKey(True)
print (ex6RDD.take(5))

In [ ]:
# Assignment -9:
from pyspark.sql import Row

trackfilepath = "/Users/sam/All-Program/App-DataSet/Spark-Operations/test130757.txt"

step1RDD = sc.textFile(trackfilepath)
print (step1RDD.take(5))
print ('')

step2RDD = step1RDD.map(lambda l: l.split(','))
print (step2RDD.take(5))
print ('')

step3RDD = step2RDD.map(lambda l: Row(name=l[0], f2=int(l[1]), f3=int(l[2]), f4=int(l[3]), f5=int(l[4]) ))
print (step3RDD.take(5))
print ('')

# ex2DF = step3RDD.toDF()

ex2DF = sqlCtx.createDataFrame(step3RDD)
print (ex2DF.head(5))
print ('')

sqlContext.registerDataFrameAsTable(ex2DF, 'ex3Table')
ex3DF = sqlCtx.sql("select * from ex3Table where f2<25 and f4>40")
print (ex3DF.head(5))
print ('')

# sqlContext.registerDataFrameAsTable(ex3DF, 'ex4Table')
ex4DF = sqlCtx.sql("select name, f3 from ex3Table where f3<30 and f2<25 and f4>40")
print (ex4DF.head(5))

ex5DF = ex3DF.describe(['f3', 'f4'])
ex5DF.show()

In [11]:
import pandas as pd
import numpy as np
trackfilepath = "/Users/sam/All-Program/App-DataSet/Spark-Operations/Titanic.txt"

titanic_train = pd.read_csv(trackfilepath) 
titanic_train.head()
char_cabin = titanic_train["Cabin"].astype(str)
char_cabin
new_Cabin = np.array([cabin[0] for cabin in char_cabin])
new_Cabin
titanic_train["Cabin"] = pd.Categorical(new_Cabin)
titanic_train["Cabin"].head()
titanic_train["Sex"].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [13]:
from sklearn import linear_model
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
encoded_sex = label_encoder.fit_transform(titanic_train["Sex"])
# encoded_sex

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [14]:
encoded_class = label_encoder.fit_transform(titanic_train["Pclass"])
encoded_cabin = label_encoder.fit_transform(titanic_train["Cabin"])
encoded_cabin

array([8, 2, 8, 2, 8, 8, 4, 8, 8, 8, 6, 2, 8, 8, 8, 8, 8, 8, 8, 8, 8, 3, 8,
       0, 8, 8, 8, 2, 8, 8, 8, 1, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 8, 3, 8, 1, 2, 8, 8, 8, 8, 8, 1, 2, 8, 8, 8, 5, 8, 8,
       8, 8, 8, 8, 8, 8, 5, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 2, 8, 8, 8,
       4, 8, 8, 8, 0, 3, 8, 8, 8, 8, 3, 8, 8, 8, 8, 8, 8, 8, 2, 8, 8, 8, 8,
       8, 8, 8, 1, 8, 8, 8, 8, 4, 3, 8, 8, 8, 5, 8, 8, 8, 8, 8, 8, 8, 3, 2,
       8, 1, 8, 8, 8, 8, 8, 8, 8, 8, 5, 8, 8, 2, 8, 8, 8, 8, 8, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 4, 8, 8, 8, 1, 8, 8, 8, 0, 8, 8, 2, 8, 8, 8, 8, 8, 5,
       8, 0, 8, 8, 8, 8, 8, 8, 8, 5, 1, 1, 8, 8, 8, 8, 8, 8, 8, 8, 8, 6, 8,
       8, 8, 0, 8, 8, 8, 8, 8, 3, 8, 8, 3, 8, 8, 8, 8, 8, 2, 8, 8, 8, 8, 8,
       2, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 2, 8, 8, 3, 8, 8, 6, 2,
       8, 8, 8, 8, 1, 8, 8, 8, 8, 4, 1, 8, 8, 8, 8, 2, 2, 8, 8, 8, 2, 8, 3,
       8, 8, 8, 8, 8, 8, 8, 8, 0, 8, 8, 8, 8, 8, 8, 1, 3, 8, 8, 8, 8, 2, 2,
       1, 8, 8, 8, 4, 8, 2, 8, 2, 8, 4, 2, 1, 8, 8, 8, 8, 8, 8, 2, 4, 8, 8,
       8, 8, 8, 2, 8, 3, 8, 1, 8, 2, 2, 8, 8, 8, 2, 4, 8, 7, 5, 2, 8, 8, 8,
       5, 8, 8, 8, 8, 8, 2, 8, 8, 8, 8, 4, 8, 8, 8, 8, 8, 8, 8, 8, 8, 3, 8,
       8, 1, 4, 8, 8, 8, 8, 8, 8, 2, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 1,
       8, 8, 3, 6, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 2, 8,
       8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 4, 2, 8, 8, 8, 4, 1, 8,
       8, 2, 8, 8, 8, 8, 8, 8, 0, 8, 8, 8, 2, 8, 8, 2, 2, 8, 8, 4, 3, 8, 8,
       4, 8, 4, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 3, 8, 0, 8, 8, 8, 8, 8, 8, 8,
       8, 1, 8, 2, 1, 8, 8, 8, 8, 2, 8, 8, 8, 3, 8, 2, 8, 8, 8, 8, 8, 1, 2,
       8, 8, 8, 8, 8, 8, 4, 8, 8, 3, 5, 8, 8, 8, 1, 8, 8, 1, 8, 8, 8, 2, 8,
       8, 8, 8, 8, 8, 8, 8, 1, 8, 8, 1, 1, 8, 8, 8, 2, 8, 8, 8, 8, 8, 2, 8,
       8, 8, 8, 8, 0, 8, 4, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 2, 4, 8, 8,
       8, 8, 4, 8, 8, 8, 2, 8, 0, 8, 4, 8, 1, 8, 8, 8, 3, 8, 8, 8, 8, 8, 8,
       8, 0, 8, 8, 8, 8, 8, 8, 8, 8, 8, 2, 8, 8, 8, 8, 8, 8, 8, 8, 5, 8, 8,
       3, 8, 8, 8, 3, 8, 3, 8, 8, 0, 8, 1, 8, 8, 8, 8, 8, 8, 8, 8, 1, 8, 8,
       8, 3, 8, 0, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 3, 8, 8, 4, 8, 8, 8, 8,
       8, 8, 2, 8, 1, 8, 8, 8, 8, 8, 8, 8, 1, 8, 3, 8, 8, 8, 8, 8, 8, 8, 1,
       1, 8, 8, 8, 8, 8, 8, 8, 2, 5, 2, 4, 8, 8, 8, 8, 8, 4, 8, 8, 2, 2, 2,
       8, 8, 5, 2, 4, 8, 8, 8, 8, 8, 8, 4, 8, 8, 8, 8, 8, 1, 8, 8, 8, 8, 8,
       8, 1, 8, 8, 3, 2, 1, 8, 8, 1, 8, 8, 3, 8, 8, 4, 8, 8, 8, 8, 8, 8, 8,
       1, 8, 8, 8, 1, 8, 3, 8, 8, 8, 8, 8, 8, 4, 8, 8, 8, 5, 8, 8, 1, 8, 1,
       3, 8, 8, 8, 8, 8, 8, 1, 8, 8, 8, 8, 8, 8, 3, 8, 8, 8, 8, 8, 1, 8, 8,
       8, 0, 8, 8, 4, 8, 8, 8, 8, 8, 1, 8, 8, 8, 8, 1, 8, 8, 4, 8, 8, 8, 8,
       8, 1, 8, 8, 8, 8, 8, 4, 8, 8, 8, 2, 8, 8, 8, 8, 8, 8, 8, 8, 8, 2, 8,
       8, 8, 3, 8, 8, 8, 4, 8, 8, 8, 8, 3, 8, 8, 8, 8, 0, 8, 8, 8, 3, 1, 8,
       8, 8, 8, 8, 8, 2, 8, 8, 8, 8, 8, 8, 8, 1, 8, 2, 8])

In [15]:
train_features = pd.DataFrame([encoded_class,
                              encoded_cabin,
                              encoded_sex,
                              titanic_train["Age"]]).T

train_features

       0    1    2     3
0    2.0  8.0  1.0  22.0
1    0.0  2.0  0.0  38.0
2    2.0  8.0  0.0  26.0
3    0.0  2.0  0.0  35.0
4    2.0  8.0  1.0  35.0
5    2.0  8.0  1.0   NaN
6    0.0  4.0  1.0  54.0
7    2.0  8.0  1.0   2.0
8    2.0  8.0  0.0  27.0
9    1.0  8.0  0.0  14.0
10   2.0  6.0  0.0   4.0
11   0.0  2.0  0.0  58.0
12   2.0  8.0  1.0  20.0
13   2.0  8.0  1.0  39.0
14   2.0  8.0  0.0  14.0
15   1.0  8.0  0.0  55.0
16   2.0  8.0  1.0   2.0
17   1.0  8.0  1.0   NaN
18   2.0  8.0  0.0  31.0
19   2.0  8.0  0.0   NaN
20   1.0  8.0  1.0  35.0
21   1.0  3.0  1.0  34.0
22   2.0  8.0  0.0  15.0
23   0.0  0.0  1.0  28.0
24   2.0  8.0  0.0   8.0
25   2.0  8.0  0.0  38.0
26   2.0  8.0  1.0   NaN
27   0.0  2.0  1.0  19.0
28   2.0  8.0  0.0   NaN
29   2.0  8.0  1.0   NaN
..   ...  ...  ...   ...
861  1.0  8.0  1.0  21.0
862  0.0  3.0  0.0  48.0
863  2.0  8.0  0.0   NaN
864  1.0  8.0  1.0  24.0
865  1.0  8.0  0.0  42.0
866  1.0  8.0  0.0  27.0
867  0.0  0.0  1.0  31.0
868  2.0  8.0  1.0   NaN
869  2.0  8.0  1.0   4.0
870  2.0  8.0  1.0  26.0
871  0.0  3.0  0.0  47.0
872  0.0  1.0  1.0  33.0
873  2.0  8.0  1.0  47.0
874  1.0  8.0  0.0  28.0
875  2.0  8.0  0.0  15.0
876  2.0  8.0  1.0  20.0
877  2.0  8.0  1.0  19.0
878  2.0  8.0  1.0   NaN
879  0.0  2.0  0.0  56.0
880  1.0  8.0  0.0  25.0
881  2.0  8.0  1.0  33.0
882  2.0  8.0  0.0  22.0
883  1.0  8.0  1.0  28.0
884  2.0  8.0  1.0  25.0
885  2.0  8.0  0.0  39.0
886  1.0  8.0  1.0  27.0
887  0.0  1.0  0.0  19.0
888  2.0  8.0  0.0   NaN
889  0.0  2.0  1.0  26.0
890  2.0  8.0  1.0  32.0

[891 rows x 4 columns]

In [16]:
X = titanic_train.as_matrix().astype(np.float)

ValueError: could not convert string to float: 'Q'